[submodule "tools"]
	path = tools
	url = https://github.com/Love4yzp/ESP32-Tools
[submodule "components/WSIoTSDK"]
	path = components/WSIoTSDK
	url = https://github.com/machinefi/w3bstream-client-esp32